<div class="text-amber-900 p-10">
  <h1 class="text-3xl font-bold">Welcome to ShellixerUI</h1>
  <p class="mt-4 text-lg">Your component library is ready!</p>

<.button_shx class="btn btn-primary"> 
Button
</.button_shx>
</div>
